<div class='card'>
  <div class='card-header'>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-md-center">
      <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white font-weight-bold" [routerLink]="['/products']" routerLinkActive="router-link-active">
              Subjects List<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="text-center">
      <h1 textCenter>{{pageTitle}}</h1>
    </div>

  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th><button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button></th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 stars rating</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/product', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>
              <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'>
              </app-star>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
