<div class="card">
  <div class="card-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-md-center">
      <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white font-weight-bold" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white font-weight-bold" [routerLink]="['/products']" routerLinkActive="router-link-active">
              Subjects List</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="text-center">
      <h1 textCenter>{{pageTitle}}</h1><br>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
        class="img-responsive center-block"
        style="max-height:300px;padding-bottom:50px"/>
      </div>
    </div>
  </div>
</div>
